**/.git
**/.gitignore
**/.vs
**/.vscode
**/node_modules
**/dist
**/.dockerignore
**/Dockerfile*
**/docker-compose*
**/*.md
**/e2e
**/coverage
**/.env
**/.env.*
**/proxy.conf.json
**/tailwind.config.ts
**/postcss.config.js
**/.prettierrc*